<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>NESTLE® 150 Ideas con más bienestar para tu vida </title>
  <meta name="description" content="NESTLE® 150 Ideas con más bienestar para tu vida">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/150-ideas.min.css">
  <!-- Web Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round|Roboto:400italic,300,700,400" rel="stylesheet" type="text/css"><!--[if lt IE]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <section class="container-fluid">
    <article class="row">
      <div class="social"><a class="icon icon-fb" href="https://www.facebook.com/nestle.colombia/" target="_blank"><img src="images/fb.svg" title="Nestlé en Facebook" alt="Nestlé en Facebook"/></a><a class="icon icon-tw" href="https://twitter.com/NestleColombia" target="_blank"><img src="images/tweet.svg" title="Nestlé en Twitter" alt="Nestlé en Twitter"/></a><a class="icon icon-ins" href="https://www.instagram.com/nestlecolombia/" target="_blank"><img src="images/instagram.svg" title="Nestlé en Twitter" alt="Nestlé en Twitter"/></a></div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1><img class="logo" src="images/logo.png" title="Nestlé 150 ideas con más bienestar para tu vida #SOYNESTLÉ" alt="Nestlé 150 ideas con más bienestar para tu vida #SOYNESTLÉ"/>
        </h1>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-mecanica">
        <p class="actividad">
          Presenta tu factura con <span class="precio">$50.000</span> <strong>en productos NESTLE<sup>&reg;</sup></strong> y reclama <span><strong>1 LIBRO </strong>de los 150 años de NESTLE<sup>&reg;</sup></span>
          
          
        </p>
      </div>
      <!--Botones-->
      <div class="col-xs-12 col-botones"><a class="btn btn-comparte" href="#compartir-idea" role="button">Comparte aquí tu idea</a><a class="btn btn-puntos" href="#puntos" role="button">Puntos autorizados</a></div>
      <!--/-Botones-->
    </article>
    <form class="row" id="idea" method="" enctype="multipart/form-data">
      <h3 class="text-center">
        Toma foto o graba un video contándonos tu idea y muéstranos  3 productos de NESTLÉ<sup>&reg;</sup>
        
      </h3>
      <div class="col-xs-3 idea"><img class="img-responsive" src="images/recetas.svg" title="Recetas" alt="Recetas"/>
        <p>Recetas</p>
      </div>
      <div class="col-xs-3 idea"><img class="img-responsive" src="images/ejercicio.svg" title="Rutina de ejercicios" alt="Rutina de ejercicios"/>
        <p>Rutina de ejercicios</p>
      </div>
      <div class="col-xs-3 idea"><img class="img-responsive" src="images/alimentacion.svg" title="Alimentos Saludables" alt="Alimentos Saludables"/>
        <p>Alimentos Saludables</p>
      </div>
      <div class="col-xs-3 idea"><img class="img-responsive" src="images/habitos.svg" title="Buenos hábitos" alt="Buenos hábitos"/>
        <p>Buenos hábitos</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12">
        <h3 class="text-center">Compartir:</h3><a class="btn btn-up" href="#" data-up="img">Una foto </a><a class="btn btn-up" href="#" data-up="video">Un video </a>
        <!--Subir img-->
        <div class="form-group form-upload form-up-img hidden">
          <div class="content-upload">
            
          </div>
          <p>Puedes subir una imagen hasta 3 mb.</p>
           <div id="progress" class="progress">
               <div class="progress-bar progress-bar-success"></div>
           </div>

           <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
    
        </div>
        <!--/-Subir img-->
        <!--Subir video-->
        <div class="form-group form-upload form-up-video hidden">
          <div class="content-upload">
            
          </div>
          <p>Puedes subir un video hasta 10 mb.</p>
        </div>
        <!--/-Subir video-->
        <!--Idea-->
        <div class="form-group form-textarea">
          <label for="ideaE"> Escribe tu idea</label>
          <input type="hidden" name="vrtCrt" id="vrtCrt" value="registrar">
          <textarea class="form-control" name="ideaE" id="ideaE"></textarea>
        </div>
        <!--/-Idea-->
        <!--Nombre-->
        <div class="form-group">
          <label for="nombre">Tu Nombre</label>
          <input class="form-control" type="text" name="nombre" id="nombre">
        </div>
        <!--/-Nombre-->
        <!--Email-->
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" id="email">
        </div>
        <!--/-Email-->
        <!--Documento-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!--tipo-->
          <div class="form-group form-select">
            <label for="tipoD">Tipo de Doc.</label>
            <select class="form-control" name="tipoD" id="tipoD">
              <option value=""></option>
              <option value="CC">C.C.</option>
              <option value="CE">C.E.</option>
              <option value="TI">T.I.</option>
            </select>
          </div>
          <!--/-tipo-->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!--numero-->
          <div class="form-group">
            <label for="numDoc">Número de Doc.</label>
            <input class="form-control" type="number" name="numDoc" id="numDoc" min="0">
          </div>
          <!--/-numero-->
        </div>
        <!--/-Documento-->
        <div class="clearfix"></div>
        <!--Email-->
        <div class="form-group">
          <label for="fechaN">Fecha de nacimiento</label>
          <input class="form-control" type="text" name="fechaN" id="fechaN">
        </div>
        <!--/-Email-->
        <!--Departamento-->
        <div class="form-group form-select">
          <label for="departamento">Departamento</label>
          <select class="form-control" name="departamento" id="departamento">
            <option value=""></option>
            {# foreach from=$regiones item=depto #}
            <option value="{#$depto->idDepto#}">{#$depto->nombre#}</option>
            {#/foreach#}
          </select>
        </div>
        <!--/-Departamento-->
        <!--Ciudad-->
        <div class="form-group form-select">
          <label for="ciudad">Ciudad</label>
          <select class="form-control" name="ciudad" id="ciudad">
            <option value=""> </option>
          </select>
        </div>
        <!--/-Ciudad-->
        <!--Dirección-->
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input class="form-control" type="text" id="direccion" name="direccion">
        </div>
        <!--/-Dirección-->
        <!--Autoriza-->
        <div class="checkbox">
          <input type="checkbox" name="autorizo" id="autorizo" value="S">
          <label for="autorizo">Autorizo a NESTLÉ<sup>&reg;</sup> para el tratamiento de mis datos personales.</label>
        </div>
        <!--/-Autoriza-->
        <!--Acepta terminos-->
        <div class="checkbox">
          <input type="checkbox" name="terminos" id="terminos" value="S">
          <label for="terminos">Acepto los <a href="file/terminos-condiciones.pdf" target="_blank">términos y codiciones</a> de esta actividad</label>
        </div>
        <!--/-Acepta terminos-->
        <!--Submit-->
        <button class="btn btn-submit" id="submit" type="submit">Compartir idea</button>
        <!--/-Submit-->
      </div>
    </form>
  </section>
  <!--Footer-->
  <footer class="container-fluid">
    <div class="row">
      <div class="slider-logos">
        <div class="slide"><img src="images/logos/maggi.jpg" title="Maggi" alt="Maggi"/>
        </div>
        <div class="slide"><img src="images/logos/nescafe.jpg" title="Nescafé" alt="Nescafé"/>
        </div>
        <div class="slide"><img src="images/logos/milo.jpg" title="Milo" alt="Milo"/>
        </div>
        <div class="slide"><img src="images/logos/klim.jpg" title="Klim" alt="Klim"/>
        </div>
        <div class="slide"><img src="images/logos/nestle-chocolate.jpg" title="Chocolates Nestlé" alt="Chocolates Nestlé"/>
        </div>
        <div class="slide"><img src="images/logos/fitness.jpg" title="Fitness" alt="Fitness"/>
        </div>
        <div class="slide"><img src="images/logos/la-lechera.jpg" title="La Lechera" alt="La Lechera"/>
        </div>
        <div class="slide"><img src="images/logos/nestea.jpg" title="Nestea" alt="Nestea"/>
        </div>
        <div class="slide"><img src="images/logos/nestum-cerelac.jpg" title="Nestum Cerelac" alt="Nestum Cerelac"/>
        </div>
        <div class="slide"><img src="images/logos/dolce-gusto.jpg" title="Dolce Gusto" alt="Dolce Gusto"/>
        </div>
        <div class="slide"><img src="images/logos/dog-chow.jpg" title="Purina Dog Chow" alt="Purina Dog Chow"/>
        </div>
        <div class="slide"><img src="images/logos/el-rodeo.jpg" title="El Rodeo" alt="El Rodeo"/>
        </div>
      </div>
      <p class="legales"><a href="https://www.consumidor.nestle.com.co/politicas-privacidad" target="_blank">Políticas de privacidad </a><a href="http://corporativa.nestle.com.co/" target="_blank">Ver información corporativa </a><a href="https://www.consumidor.nestle.com.co/politicas-datos" target="_blank">Política de tratamiento de datos personales</a></p>
      <p class="text-center">NESTLÉ® Colombia 2016 - Todos los derechos reservados</p>
    </div>
  </footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="js/libs.min.js"></script>
  <script src="js/libs/additional-methods.js"></script>
    <script src="js/jquery.ui.widget.js"></script>
    <script src="js/img/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="js/img/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="js/img/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="js/img/jquery.fileupload-image.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="js/img/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="js/img/jquery.fileupload-validate.js"></script>
  <script src="js/150-ideas.js"></script>
</body></html>